<template>

  <div class="d-flex flex-column h-100 justify-content-between">

    <div class="wizard-container h-100">

      <b-tabs class="h-100" v-model="tabIndex" small card>

        <b-tab title="General">

        <h1>Welcome to eSpark Learning, Edna Krabapple!</h1>
        <p class="text-center">You were invited to try eSpark by
          <strong>Principal Skinner</strong> of <strong>Springfield Elementary.</strong></p>
        <div class="text-center mb-5">
          <img alt="" class="img-friends" src="friends.png"/>
        </div>

        <div>
          <p class="">eSpark Learning is all about the words that are in this sentence.
                      This person may not have a clear idea of who we are, so let's tell them.</p>

          <p class="">Create a free teacher's account to try it out! Another sentence about the
                      things a teacher's account provides. (And don't worry, there's no
                      obligation, it's free, etc)</p>
        </div>

        <div class="d-flex justify-content-between">
          <b-button variant="secondary" v-b-modal.modal-no-thanks >No Thanks!</b-button>
          <b-button variant="primary" @click="tabIndex++">Get Started</b-button>
        </div>

      </b-tab>

        <b-tab title="School Info">
          <h1>Enter Your School Info</h1>

          <div class="pt-5 flex-grow-1">
            <SignupFormTwo>
            </SignupFormTwo>
          </div>

          <div class="d-flex justify-content-between">
            <b-button variant="primary" @click="tabIndex--">Go Back</b-button>
            <b-button variant="primary" @click="tabIndex++">Continue</b-button>
          </div>

        </b-tab>
        <b-tab title="School Info">
          <h1>Confirm Your Personal Information</h1>
          <div class="pt-5 flex-grow-1">
            <SignupFormOne>
            </SignupFormOne>
          </div>
          <div class="d-flex justify-content-between">
            <b-button variant="primary" @click="tabIndex--">Go Back</b-button>
            <b-button variant="primary" @click="tabIndex++">Continue</b-button>
          </div>
        </b-tab>
        <b-tab title="Set A Password To Finish Creating Your Account">
          <h1>Almost There...</h1>
          <div class="pt-5 flex-grow-1">
            <SignupFormPassword>
            </SignupFormPassword>
          </div>
          <div class="d-flex justify-content-between">
            <b-button variant="primary" @click="tabIndex--">Go Back</b-button>
            <b-button variant="primary" @click="tabIndex++">Finish!</b-button>
          </div>
        </b-tab>
      </b-tabs>

    </div>

    <b-modal
      id="modal-no-thanks"
      title="BootstrapVue"
      size="lg"
      :no-fade="true"
      v-model="show">
      <template v-slot:modal-title>
        Why Not?
      </template>

      <template v-slot:modal-footer>
        <b-button @click="show=false">Cancel</b-button>
        <b-button variant="primary" @click="routeToNoThanksPage">Save</b-button>
      </template>

      <WhyNotForm>
      </WhyNotForm>
    </b-modal>

  </div>

</template>

<script>

import SignupFormOne from '@/components/SignupFormOne.vue';
import SignupFormTwo from '@/components/SignupFormTwo.vue';
import SignupFormPassword from '@/components/SignupFormPassword.vue';
import WhyNotForm from '@/components/WhyNotForm.vue';

export default {
  components: {
    SignupFormOne,
    SignupFormTwo,
    SignupFormPassword,
    WhyNotForm,
  },
  data() {
    return {
      tabIndex: 0,
      show: false,
    };
  },
  methods: {
    handleFormWizardChange(previousIndex, nextIndex) {
      // Hide the 'no thanks' button unless the form is moving to page 1 (index 0)
      this.showNoThanksButton = nextIndex === 0;
    },

    routeToNoThanksPage() {
      this.$router.push('no-thanks');
    },

    hideModal() {
      this.$root.$emit('bv::hide::modal', 'modal-1', '#btnShow')
    },
  },
  name: 'WelcomeView',
};
</script>

<style lang="scss">
.img-friends {
  height: 200px;
  width: auto;
}

.wizard-container {

  padding: 2rem;

  // Hide bootstrap tabs (Note: hack! bad! For demo app only)
  .card-header {
    display   : none;
  }

  .tab-pane.active.card-body {
    outline: none;
  }

  h1 {
    text-align: center;
  }

  .tab-content,
  .tab-pane {
    height: 100%;
  }

  .tab-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

.vue-form-wizard .wizard-nav.wizard-nav-pills,
.wizard-progress-with-circle {
  display: none;
}

</style>
