<template>
  <div>
    <h1 class="text-center p-5">Ok, thanks for letting us know!</h1>
    <p class="text-center">(Here is where we could attempt to solve the customer's problems...)</p>
  </div>

</template>
