<template>
  <div>
    <b-form>
      <b-form-group
        id="input-group-1"
        label="What Grades Do You Teach?"
        label-for="input-1">
        <b-form-checkbox-group
          id="input-group-2"
          v-model="selected"
          :options="options">
        </b-form-checkbox-group>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Where Do You Teach?"
        label-for="input-2">

        <b-form-input
          id="input-2"
          v-model="form.lastName"
          required
          placeholder="Your school's name"
        ></b-form-input>
      </b-form-group>
    </b-form>

  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        name: '',
        food: null,
        checked: [],
      },
      selected: [],
      options: ['K', '1', '2', '3', '4', '5', '6', '7', '8'],
      show: true,
    };
  },
};
</script>
