<template>
  <div>
    <b-form>
      <b-form-group
        id="input-group-4"
        label="Password"
        label-for="input-3">
        <b-form-input
          id="input-2"
          v-model="form.lastName"
          required
          placeholder="Enter password"
        ></b-form-input>
      </b-form-group>
    </b-form>
    <b-form>
      <b-form-group
        id="input-group-4"
        label="Confirm Password"
        label-for="input-3">
        <b-form-input
          id="input-2"
          v-model="form.lastName"
          required
          placeholder="Re-enter password"
        ></b-form-input>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        name: '',
        food: null,
        checked: [],
      },
      options: ['K', '1', '2', '3', '4', '5', '6', '7', '8'],
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      alert(JSON.stringify(this.form));
    },
    onReset(evt) {
      evt.preventDefault();

      // Reset our form values
      this.form.email = '';
      this.form.name = '';
      this.form.food = null;
      this.form.checked = [];

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
