<template>
  <div>
    <b-form>
      <b-form-group
        id="input-group-1"
        label="First Name"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.firstName"
          required
          placeholder="Enter first name"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Last Name"
        label-for="input-2">

        <b-form-input
          id="input-2"
          v-model="form.lastName"
          required
          placeholder="Enter last name"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-3"
        label="Email Address"
        type="email"
        label-for="input-3">
        <b-form-input
          id="input-2"
          v-model="form.emailAddress"
          placeholder="Enter email address"
          required
        ></b-form-input>
      </b-form-group>

    </b-form>

  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        firstName: 'Edna',
        lastName: 'Krabapple',
        emailAddress: 'ekrabapple@springfieldelementary.edu',
        password: '',
      },
    };
  },

};
</script>
