<template>
  <div>
    <b-form>
      <b-form-group
        id="input-group-1"
        label="Before you go, would you mind letting us know why you're not interested?"
        label-for="input-1">

        <b-form-radio-group
          stacked="true"
          :options="options"
          id="input-group-9"
          v-model="selected">

        </b-form-radio-group>

      </b-form-group>

      <b-form-group
        v-if="selected == 'other'"
        type="textarea"
        id="input-group-2"
        label="Reason"
        label-for="input-2">

        <b-form-textarea
          id="input-1"
          placeholder="Enter your reason here"
          rows="3"
        ></b-form-textarea>

      </b-form-group>

    </b-form>

  </div>
</template>
<script>

export default {
  data() {
    return {
      options: [
        'I have no idea what this is',
        'I am not interested; I only clicked to do my due diligence and follow through with looking at a referral from a friend',
        'I might be interested, but I don’t understand why I have to make an account or what that means',
        'I am interested, but I don’t have the authority to implement this',
        'I would be interested, but the semester / year is already planned / underway',
        { text: 'Other', value: 'other' },
      ],
      selected: null,
    };
  },
};

</script>
