<template>
  <div id="app" class="container">
    <div id="nav">
      <router-link to="/welcome">Welcome</router-link> |
      <router-link to="/signup">Signup Wizard</router-link> |
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

html,
html body,
html body #app {
  height  : 100%;
  background-color: #DFF0FD;
  font-size   : 1.15rem;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  // padding: 30px;
  display: none;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.btn.btn-primary {
  background-color: #176ABF !important;
}

.modal-footer .btn.btn-secondary {
  background-color: gray !important;
}

.modal-body {
  font-size: 1rem;
}
</style>
